*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    list-style: none;
    

    /* border-style: solid;
    border-color: #e94a37;
    border-width: 1px; */
}

a{
    text-decoration: none;
}

:root{
    --Naranja: #e94a37;
    --Azuloscuro: #22172B;
    --Crema: #EBEBE9;
    --Azulclaro: #564D5D;
    --titlesize: clamp(6rem, 10vw + 1rem, 10rem);
}

body{
    background-color: var(--Azuloscuro);
    counter-reset: number;
 }

.first-heading{
    font-family: Outfit, sans-serif;
    font-size: 11rem;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}

.heding-subheading{
    font-family: Geologica, sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 150%;
}

.htwo{
    font-family: Outfit,sans-serif;
    font-weight: 600;
    font-size: 8.5rem;
    line-height: 90%;
    text-transform: uppercase;
}

.hthree{
    font-family: Outfit,sans-serif;
    font-weight: 600;
    font-size: 5.4rem;
    line-height: 105%;
    text-transform: uppercase;
}

.quote{
    font-family: Geologica, sans-serif;
    font-weight: 400;
    font-size: 1.75;
    line-height: 105%;
}

.hfour{
    font-family: Geologica, sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
}

.textp{
    font-family: Geologica, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 130%;
}

.hfive{
    font-family: Geologica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.skills{
    font-size: 0.7rem;
    text-transform: uppercase;
    line-height: 180%;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    /* justify-content: center; */
}

header{
    /* backdrop-filter: blur(10px); */
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--Azuloscuro);
}
.barnav{
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    font-family: Outfit,sans-serif;
    
    /* height: 15%; */
}

.barnav_responsive{
    background-color: var(--Naranja);
    height: 100vh;
    font-family: Outfit,sans-serif;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;


}
.barnav_responsive a{
    position: relative;
}
.barnav_responsive ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
}

.barnav_responsive li{
    
    font-size: 3.8rem;
    padding: 1rem 0;
}

.barnav_responsive a::after{
    content: '';
    display: block;
    height: 5px;
    background: var(--Azuloscuro);
    margin-left: 1rem;
    width: 75%;
    position: absolute;
    bottom: 1em;
    left: 0;
 

    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;

}

.barnav_responsive a:hover{
    font-weight: 600;
}

.barnav_responsive a:hover::after{
    transform: scale(1,1);
}

.nav__flex{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

/* nav{
    justify-content: baseline;
    align-items: center;   
} */

.nav__center{
    display: flex;
    align-items: center;
    list-style: none;
    
}

nav li{
    margin-left: 3vw;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--Crema);
    
    }
.nav__center a{
    position: relative;
    overflow: hidden;
}

.link2{
    position: absolute;
    top: 0;
    left: 0;
}

.link3{
    position: absolute;
    top: .1rem;
    left: 2rem;
}

.nav__center a:hover .link1{
    animation-name: upper-fix;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function:linear ;
}

.nav__center a:hover .link2{
    animation-name: upper-hid;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function:linear ;
}


.nav__center svg{
    display: none;
}

.mainlogo img{
    height: 60px;
}


h1{
    /* font-family: Outfit,sans-serif;
    font-weight: 600;
    font-size: var(--titlesize); */
    /* line-height: 100%; */
    color: var(--Crema);
    padding-top: 10rem;
    padding-bottom: 1.5rem;
    text-align: center;
    
}

h2{
    /* font-family: Outfit,sans-serif;
    font-weight: 600;
    font-size: clamp(3rem, 1vw + 3rem, 9rem);
    line-height: 105%; */
    color: var(--Azuloscuro);

    
}

/* h4{
    font-family: Outfit,sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 1vw + 1rem, 3rem);
    text-transform: uppercase;
} */

p{
    font-family: Geologica,sans-serif;
}


/*
.hero{
max-width: 1500px;
position: relative;
    bottom: 5vw;
    left: 11vw;
    max-width: 100%;

}
*/

.bg-img{
    background-image: url(assets/imgs/hero-bg.jpg);
    background-size: cover;
    /* height: 100%; */

}

.herosection{
    position: relative;
    padding-bottom: 6rem;
}

.herosection p{
    /* font-family: Geologica,sans-serif;
    font-size: clamp(1.5rem, 1vw + 1.2rem, 1.8rem); */
    color: var(--Crema);
    /* font-weight: 200; */
    text-align: center;
    
    
    
}

.subheading{
    max-width: 90%;
    margin: auto;

}

.services {
    background-color: var(--Crema);
       
}

.servicescolumns{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1500px;
    align-items: center;
    padding: 10rem 0;
}

/* .firstcolumn{
    
    color:white;
} */
.servicescolumns .brushstyle{
    position: absolute;
    top:6rem;
    color: var(--Naranja);
    font-family: Kaushan Script;
    font-size: 4.5rem;
    font-weight: 500;
   
    
}
.servicescolumns p{
    font-size: clamp(1.5rem, 1vw + 1.2rem, 2rem);
    font-weight: 600;
    color: var(--Azulclaro);
}

.secondcolumn{
    padding-right: 5vw;
   
}

.pad-left{
    padding-left: 4rem;
}

.descriptiontitle{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: 100%;
    align-items: center;
    padding: 3rem 0;
}

.descriptiontitle2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: 100%;
    align-items: center;
    padding: 3rem 0;
}

.descriptiontitle2 h4{
    grid-column-start: 2;
    grid-column-end: span 4;
    
}

.descriptiontitle2 .hline{
    width: 100%;
    grid-column-start: 6;
    grid-column-end: 13;
}

.descriptiontitle h4{
    grid-column-start: 2;
    grid-column-end: span 5;
}

.hline{
    width: 100%;
    grid-column-start: 7;
    grid-column-end: 13;
}

.description{
    display: grid;
    grid-template-columns: 8fr 4fr;
    margin-top: 30px;
    margin-bottom: 3vw;
    margin-left: 10rem;
    margin-right: 10rem;
    /*padding-right: 30vw;*/
    /* font-size: clamp(.8rem, 1vw + 1.2rem, 1.3rem);
    font-weight: 300; */
    color: var(--Azulclaro);
    gap: 5vw;
    align-items: center;

    
    
}

   
.description h3{
    font-size: 9vw;
    font-family: Outfit, sans-serif;
    font-weight: 800;
    padding-left: 5vw;
    color: #e94a37;
}


.fields{
    margin: auto;
    max-width: 50vw;
    margin-bottom: 4vw;
    text-align: center;
}

.work{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.circle-icon{
    width: 15%;
}

.work h2{
    color: var(--Crema);
}



.card-project{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    align-items: center;
    color: var(--Crema);
    padding:2rem 0 2rem 0;
    
}
/* .card-project img{
   width: 60%;
   object-fit: cover;
   margin-right: 5%;
}  */

.projects{
    padding-bottom: 5rem;
}

.project-img{
    grid-column: 4/11;
    overflow: hidden;
}

.project-img-reverse{
    grid-column: 1/8;
    overflow: hidden;
}

.right-img{
    width: 100%;
    object-fit: cover;
    
}

.left-img{
    width: 100%;
    object-fit: cover;
}

.right__padinfo{
    padding-right: 5%;
}

.left__padinfo{
    padding-left: 5%;
}

.project-info{
    grid-column: 1/4;
    /* padding-bottom: 5rem; */
    /* flex-grow: 2; */
}

.project-info-reverse{
    grid-column: 8/11;
    /* padding-bottom: 5rem; */
    /* flex-grow: 2; */
}

.reverse{
    flex-direction: row-reverse;
}

.hide-cursor-img{
    cursor: none;
}


.title-project{
    color: var(--Naranja);
        font-family: Outfit, sans-serif;
        font-size: 3.5rem;
        line-height: 3.8rem;
}

.sub-title-project{
    font-family: Geologica, sans-serif;
    font-size: clamp(.8rem, 1vw + 1rem, 1.2rem);
    font-weight: 400;
    padding-bottom: 1rem;

}

.text-project{
    font-family: Geologica,sans-serif;
    font-weight: 200;
    line-height: 150%;
    font-size: 1rem;
}

.line-project{
    width: 60%;
   object-fit: cover;
   margin-right: 5%;
}

.line-project{
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit:fill;
}



.text-project{
    font-size: clamp(.7rem, 1vw + .9rem, 1rem);
    padding-bottom: 3.5rem;
}


.bt-project{
    width: 55%;
    /* background-color: #564D5D; */
    padding: 8px 16px 8px 0;
    display: flex;
    gap: 10px;
    color: var(--Crema);
    fill: var(--Crema);
    font-family: Outfit, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.bt-project:hover, .bt-project:hover svg{
    color: var(--Naranja);
    fill: var(--Naranja);
    font-weight: 600;
    
}

.a-project svg{
    fill: var(--Crema);
}



.a-project img{
    cursor: none; 
}



.knowledge{
    /* padding-top: 1rem; */
    padding-bottom: 3rem;
}


footer{
    background-color: #1C1223;
    padding-top: 5rem;
}

footer h3{
    font-family: Outfit;
    font-size: clamp(2rem, 1vw + 5rem, 6rem);
    text-transform: uppercase;
    color: var(--Naranja);
    line-height: 95%;
}

.sub{
    font-size: 1.8rem;
    font-family: Geologica, sans-serif;
    color:var(--Crema);
    font-weight:200 ;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.toptittle{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.contact-socialmedia{
    display: flex;
    align-items: center;
    padding-top: .5rem ;
    padding-bottom: 2.5rem;
}
.contact a{
    display: flex;
    align-items: center;
    /* text-transform: uppercase; */
    /* gap: 1rem; */
    color: var(--Crema);
    text-decoration: none;
    padding-right: 1rem;
    font-weight: 200;
    gap:.5rem;
    position: relative;
    overflow: hidden;
}


.socialmediaicon{
    width: 1.5rem;
}

.navigation{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navigation li{
    text-decoration: none;
    color: var(--Crema);
}

.navigation ul{
    color: var(--Crema);
    text-decoration: none;
    font-family: Geologica, sans-serif;
    text-transform: uppercase;
    line-height: 180%;
    list-style-type: none;
    overflow: hidden;
}

.navigation a{
    position: relative;
}

.hidden{
    overflow: hidden;
}

.contact a:hover .link2{
    animation-name: upper-hid;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function:linear ;
}

.navigation a:hover .link2{
    animation-name: upper-hid;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function:linear ;
}

.navigation a:hover .link1{
    animation-name: upper-fix;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function:linear ;
}

.contact a:hover .link3{
    animation-name: upper-hid;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function:linear ;
}

.contact a:hover .link1{
    animation-name: upper-fix;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function:linear ;
}
/* animation */

.logo{
    width: 55%;
    position: absolute;
    margin-top: 1rem;
    mix-blend-mode:difference;
    /* opacity: .8; */
}


#circle ,#Circlefter {
    min-width: 250px;


    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

/*Cursor*/

.cursors div{
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--Naranja);
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    

}

.cursors div span{
    position: absolute;
    top: 8px;
    left: 28px;
    width: 300px;

    font-size: 1rem;
    font-weight: 800;
    font-family: Geologica, sans-serif;
    color: var(--Crema);
    opacity: 0;
    text-shadow: black 1px 0 5px;
      
    
}

div.cursors div span.visible{
    opacity: 1;
} 

.arrow{
    background-color: var(--Naranja);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow svg path{
    stroke: var(--Crema);

    animation-name: arrowup;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.arrow:hover {
    transform: scale(105%);
    background-color: var(--Crema);
    stroke: 3px var(--Naranja) solid;
}

.arrow:hover path{
    stroke: var(--Naranja);
}

#logo path, #Circlefter path{
    fill: var(--Crema);
}

.zoom-in:hover{
    animation-name: zoom;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes upper-hid{
    0%{
        transform: translateY(3rem);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes upper-fix {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-3rem)
    }
    
}

@keyframes rotate{
    0%{
        /*transform: translateX(50px);*/
        transform: rotate(0);
        transform-origin: center center;
    }
    100%{
        /*transform: translateX(0);*/
        transform: rotate(-1turn);
        transform-origin: center center;
    }
}

@keyframes btarrow {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(110%);
    }
}

@keyframes arrowup {
    0%{
        transform: translateY(100px);
    }
    25%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-100px);

    }
}

@keyframes zoom {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(110%);
    }
    
}

@media (min-width : 600px) and (max-width : 1200px) {
    .first-heading{
        font-size: 8rem;
    }
    .servicescolumns{
        gap: 20px;
        padding: 7rem 0;
    }

    .servicescolumns .pad-left{
        padding-left: 2rem;
    }
    .servicescolumns p{
        font-size: 1.4rem;
    }

    .servicescolumns .brushstyle{
        font-size: 4rem;
        top: 4rem;
    }

    .description{
        margin-left: 3rem ;
        margin-right: 3rem ;
    }

    .descriptiontitle{
        padding: 0;
    }

    .description .textp{
        padding-bottom: 2rem;
        font-size: 1rem;
    }


    .hfour{
        font-size: 1.9rem;
    }

    .descriptiontitle2{
        padding: 0;
    }

    .work .htwo{
        font-size: 6.5rem;
    }

    .work .circle-icon{
        margin-right: 2rem;
    }

    .right-img{
        height: 500px;
    }
    .project-info{
        grid-column: 1/5;
    }
    .project-img{
        grid-column: 5/11;
    }
    .project-info-reverse{
        grid-column: 7/11;
    }
    .project-img-reverse{
        grid-column: 1/6;
    }

    .left-img{
        height: 500px;
    }
    .title-project{
        font-size: 2.8rem;
    }

    .bt-project{
        width: 80%;
    }

    
}

@media (max-width:600px){
    header{
        padding: 1rem 0;
    }
    .barnav{
        width: 100%;
        padding: 2rem;
    }

    .nav__center svg{
        display: flex;
    }
    .container{
        width: 100%;
    }

    .hideonmobile{
        display: none;
    }
    .mainlogo img{
        height: 45px;
    }
    .small__logo{
        height: 45px;
    }   

    .first-heading{
        font-size: 5.4rem;
    }
    
    .htwo{
        font-size: 4rem;
    }
    
    .hthree{
        font-size: 3.5rem;
    }
    
    .quote{
        font-size: 1.25rem;
        line-height: 150%;
       
    }
    
    .hfour{
        font-size: 1.75rem;
    }
    
    
    .hfive{
        font-size: 1.2rem;
    }
    
    .skills{
        font-size: 0.8rem;
    }

    .sub{
        font-size: 1.125rem;
    }

    .container{
        padding: 0 1rem;
        margin: auto;

    }
    .bg-img{
        background-image: url(assets/imgs/hero-bg-phone.jpg);
    }

    .heading h1{
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3rem;
    }

    .herosection{
        padding-left: .5rem;
        padding-bottom: 4em;
    }
  
    .herosection p{
        text-align: left;
    }
    .servicescolumns{
        display: block;
        padding: 5rem 0 2rem 0;
    }

    .servicescolumns h2{
        font-size: 5.6rem;
        padding-bottom: 3rem;
    }

    .pad-left{
        padding-left: 0;
    }

    .subheading{
        margin: 0;
    }

    
    .servicescolumns .brushstyle{
        top: 2.4rem;
        font-size: 2.8rem;
    }

    .secondcolumn{
        padding-right: 0;
    }

    .descriptiontitle img{
        display: none;
    }

    .descriptiontitle2 img{
        display: none;
    }

    .descriptiontitle{
        grid-template-columns: 1fr;
        position: relative;
    }

    .descriptiontitle2{
        grid-template-columns: 1fr;

    }

    .descriptiontitle h4{
        padding-left: 2.5rem;
        grid-column-start: 1;
    }

    .descriptiontitle::before{
        position: absolute;
        color: var(--Naranja);
        font-size: 7rem;
        font-family: Outfit, sans-serif;
        font-weight: 800;
        /* opacity: .7; */
        line-height: 30%;
        margin-right: 3rem;
        counter-increment: number;
        content: '' counter(number) '.';
    }

    .description{
        grid-template-columns: 1fr;
        margin: 0;
        position: relative;
    }

    .descriptiontitle2::before{
        position: absolute;
        color: var(--Naranja);
        font-size: 7rem;
        font-family: Outfit, sans-serif;
        font-weight: 800;
        /* opacity: .7; */
        line-height: 30%;
        margin-right: 3rem;
        counter-increment: number;
        content: '' counter(number) '.';
    }
    .description h3{
    display: none;
    }

    .fields{
        max-width: 100%;
    }

    .work{
        flex-direction:column-reverse;
        align-items: flex-start;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .title-project{
        padding-bottom: 1rem;
    }

    .card-project{
       grid-template-columns: 1fr;
       gap: 30px;
       padding: 1rem 0 1rem 0;
    }

    .circle-icon{
        display: none;
    }

    .project-info{
        grid-column: 1;
        order: 2;
    }
    .project-img{
        grid-column: 1;
        order: 1;
    }

    .project-info-reverse{
        grid-column: 1;
    }
    .project-img-reverse{
        grid-column: 1;
    }

    .left__padinfo, .right__padinfo{
        padding: 0;
    }
    .right-img, .left-img{
        width: 100%;
        margin:0;
    }

    .skills{
        display: none;
    }

    .toptittle{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .contact-socialmedia{
        flex-direction: column;
        align-items: flex-start;
        gap:1rem;
    }

    .navigation{
        width: 100%;
    }

    .contact a{
        gap:1rem;
    }

    .link3{
        left: 2.5rem;
        top: .1rem;
    }
    .knowledge{
        display: none;
    }

    .projects{
        padding-bottom: 1.5rem;
    }

    p.text-project{
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    footer{
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    footer svg{
        margin-left: 0px;
    }


}